{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.11"
        integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
        crossorigin="anonymous"></script>
</head>

<body>
    {{ template "form" . }}
    <hr />
    {{ template "display" . }}
</body>

</html>
{{ end }}

{{ block "form" . }}
<form hx-target="#contacts" hx-swap="outerHTML" hx-post="/contacts">
    name: <input type="text" name="name">
    <br />
    email: <input type="text" name="email">
    <br />
    <button type="submit">Create Contact</button>
</form>
{{ end }}

{{ block "display" . }}
<ul id="contacts">
    {{ range .Contacts }}
    <li>
        Name: <span>{{ .Name }}</span>
        Email: <span>{{ .Email }}</span>
    </li>
    {{ end }}
</ul>
{{ end }}